<div class="container mt-5 p-5 bg-info">
  <div class="row">
    <div class="col text-center">
      <!-- <input type="text" class="form-control"> -->
      <!-- <button class="btn btn-danger mt-2">Delete</button> -->
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-6">
        <h1>Courses List</h1>
        <hr>
        <app-courses-list></app-courses-list>
      </div>
      <div class="col-6">
        <app-courses-details></app-courses-details>
      </div>
    </div>
  </div>
</div>
